@font-face {
  src: url(./fonts/Product\ Sans\ Regular.ttf);
  font-family: Product Sans;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #3D4D65;
  font-family: "Product Sans";
}